//container
.container {
    position: relative;
    width: 1820px;
    margin: 0 auto;
    //background-color: rgba(0, 0, 0, 0.1);
}
.section.center {
    text-align: center;
}
#main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#horizontal {
    display: flex;
    flex-wrap: nowrap;
    width: 600vw;
}
#horizontal > section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #F9F8F6;

}
/* 아래의 모든 코드는 영역::코드로 사용 */
body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #4B8FB6; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #cbd5dbe0;  /*스크롤바 뒷 배경 색상*/
}

