#section4 {
    padding: 20vh 5vh 20vh 5vh;
    background-color: #F9F8F6;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    .sec4-header {
        >div {
            font-family: 'Poppins';
            text-transform: uppercase;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .sec4-line {
            border: 1px solid #C9C7C5;
        }

    }

    .img-wrap {
        width: 70%;
        padding-top: 4vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .img-inner {
            .sec4-con1 {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                width: 40vw;
                position: relative;
                visibility: hidden;
                overflow: hidden;
                object-fit: cover;


                .sec4-img1 {
                    width: 100%;
                    height: 100vh;
                    background-image: url(/assets/images/website01.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transform-origin: top;

                }
            }

            .sec4-con2 {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 77vh;
                width: 25vw;
                position: relative;
                visibility: hidden;
                overflow: hidden;
                object-fit: cover;


                .sec4-img2 {
                    width: 100%;
                    height: 70vh;
                    background-image: url(/assets/images/website02.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transform-origin: top;


                }

                .sec4-link {
                    border: 1px solid #C9C7C5;
                    padding: 0.5vw;
                    height: 7vh;
                    display: flex;
                    position: relative;
                  
                    span {
                      font-family: 'NeueMontreal';
                      text-transform: uppercase;
                      font-size: 32px;
                      align-items: center;
                    }
                  
                    a {
                      width: 14px;
                      height: 20px;
                      background-image: url(/assets/images/link.svg);
                      background-repeat: no-repeat;
                      object-fit: cover;
                      position: absolute;
                      right: 1.5vw;
                      top: 1.2vw;
                    }
                  }
            }
        }
    }

}

.sec4-desc {
    position: absolute;
    width: 28%;
    right: 0;
    top: 42vw;

    >div {
        font-size: 18px;
        font-family: "Chosunilbo_myungjo";

    }
}

.sec4-img3 {
    width: 18vw;
    height: 19vw;
    display: block;
    background-image: url(/assets/images/leaf03.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    top: 44vw;
    right: 0;
}

.sec4-text {
    margin-top: -7.5vw;
    position: relative;
    z-index: -1;

    .sec4-img4 {
        width: 40vw;
        height: 18vw;
        position: absolute;
        left: 50vw;
        top: 10vw;
        background-image: url(/assets/images/WebStandardsite.svg);
        background-repeat: no-repeat;
    }

    >div {
        text-transform: uppercase;
        font-family: 'Poppins';
        font-size: 300px;
        font-weight: 700;
        color: #D8D8D8;
        text-align: right;
        white-space: nowrap;
        z-index: 200;
    }
}


