#section4 {
    padding: 20vh 10vh 20vh 10vh;
    background-color: #F9F8F6;
    margin: 0 auto;
    position: relative;


    .sec4-header {
        > div {
            font-family: 'Poppins';
            text-transform: uppercase;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 5px;
        }
        .sec4-line {
            border: 1px solid #C9C7C5;
        }
    }
    .img-wrap {
        width: 75%;
        padding-top: 4vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .img-inner {
            .img-container {
                .sec4-img1 {
                    width: 40vw;
                    height: 100vh;
                    background-image: url(/assets/images/website01.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .sec4-img2 {
                    width: 25vw;
                    height: 70vh;
                    background-image: url(/assets/images/website02.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                
                }
                .link {
                    border: 1px solid #C9C7C5;
                    padding: 0.5vw;
                    display: flex;
                    position: relative;

                    span {
                        font-family: 'NeueMontreal';
                        text-transform: uppercase;
                        font-size: 32px;
                        align-items: center;
                    }
                    a {
                        flex-shrink: 1;
                        width: 14px;
                        height: 20px;
                        background-image: url(/assets/images/link.svg);
                        background-repeat: no-repeat;
                        object-fit: cover;
                        position: absolute;
                        right: 1.5vw;
                        top: 1.2vw;
                    }
                }
            }
        }
        
    }
    .sec4-desc {
        position: absolute;
        width: 25%;
        right: 1vw;
        top: 46vw;

        > div {
            font-size: 18px;
            font-family: "Chosunilbo_myungjo";

        }
    }
    .sec4-img3 {
        width: 23vw;
        height: 25vw;
        display: block;
        background-image: url(/assets/images/leaf03.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        position: absolute;
        right: 0;
    }
    .sec4-text {
        margin-top: 20vw;
        position: relative;
       
        .sec4-img4 {
            width: 40vw;
            height: 18vw;
            position: absolute;
            left: 50vw;
            top: 10vw;
            background-image: url(/assets/images/ParallaxEffect.svg);
            background-repeat: no-repeat;
        }
        > div {
            text-transform: uppercase;
            font-family: 'Poppins';
            font-size: 300px;
            font-weight: 700;
            color: #D8D8D8;
            text-align: right;
            white-space: nowrap;

        }
    }
}
@media (max-width: 1920px){
    body {
        overflow-x: hidden;
    }
}